:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --gray: #2b2727;
    --softblue: #6db2ec;
    --lightmag: #ff80ff;
    --mutedpurple: #b079ff;
    --sans: "Oxygen", sans-serif;
    --mono: "Oxygen Mono", monospace;
    --font-size: 1.3rem;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}



body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    font-size: var(--font-size);
    background-color: var(--gray);
    color: var(--softblue);
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--lightmag);
}

a:hover {
    text-decoration: none;
    color: var(--mutedpurple);
}


/* Inline elements like a, don't take effect from margin. */
.button {
    color: white;
    background-color: var(--magenta);
    text-decoration: none;
    padding: .5rem;
    border-radius: 5px;
    font-family: var(--mono);
}

.gradient {
    background: #3494E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 2px;

}

.button:hover {
    background-color: var(--hotmag);
    color: white;
}

/* intro styles */

#intro .name {
    font-family: var(--mono);
    font-size: 1rem;
}

#intro .name span {
    font-family: var(--sans);
    font-size: 4rem;
    display: block;
    color: var(--softblue);
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro {
    padding: 4rem 1rem 10rem 1rem;
    padding-bottom: 10rem;
    max-width: 1200px;
    margin: 0 auto;
}


/* Contact Styles */

#section-plum {
    background-color: var(--plum);
}

#contact {
    text-align: center;
    width: 400px;
    /* Two ways to make it center. 1: */
    margin: 0 auto;
    padding: 4rem 0;
}


#contact p:last-child {
    margin-top: 3rem;
}